@import 'variables';
@import 'mixins';
@import 'global';
@import 'animations';


.title {
    color: white;
}
.time-refreshed {
    font-size: .9em;
    color: white;
    span {
        color: white;
    }
}

/////////////////
// question
/////////////////
.question-wrapper {
    border: $border;
    @include rounded-corner;
    @include element-shadow;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    h4 {
        margin-bottom: 1.2em;
        animation-delay: 10s;
    }
    button {
        margin-bottom: $padding-half;
    }
    .warning-btn:hover {
        background-color: $red;
        color: $white;
    }
    button:first-of-type {
        margin-right: $padding-half;
    }
    .warning-msg {
        margin-top: 2em;
        color: $red;
    }
} 



/////////////////
// Airplane list LIST
/////////////////
.airplane-list, .list-heading {
    p {
        cursor: pointer;
        float: left;
        height: 55px;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 55px;
        &:hover {
            background:rgba(0,0,0,0.15);
            @include rounded-corner;
        }
    }
    span {
        display: block;
        float: left;
        text-align: center;
    }
    .icon-orientation {
        width: 100px;
        height: 55px;
        &:after {
            @extend .fadein;
            content: url('../images/orientation.png');
            display: block;
            width: 55px;
            height: 55px;
            transform: rotate(-60deg);
            margin-left: 25px;
        }
        &.east:after {
            transform: translateX(-5px) rotate(60deg);
        }
    }
    .altitude {
        width: calc(50% - 55px);
    }
    .code-number {
        width: calc(50% - 55px);
    }
}
.list-heading {
    font-weight: bold;
    span {
        color: white !important;
    }
    .icon-orientation {
        width: 100px;
        height: 55px;
        &:after {
            content: "";
        }
    }
}

/////////////////
// MODAL page
///////////////
.modal-container {
    .modal {
        h3, h4, p {
            color: $gray;
            span {
                color: $black;
                padding-left: 2em;
            }
        }
        h3, h4 {
            font-size: 1.3em;
        }
        p {
            margin-top: $padding;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 200px;
            @include rounded-corner;
        }
    }
  }


  // others
  .git-link {
      position: fixed;
      z-index: 10;
      bottom: $padding;
      right: $padding;
  }

