// SIZES
$max-width: 1024px;
$padding: 1em;
$padding-half: $padding/2;


// COLORS: https://coolors.co/dd3b3b-212020-f2f2f2-466f99-f28e24
$red: #f74f4f;
$blue: #2a435e;
$white: #f3f1f1;
$border-color: #dadada;
$black: #413e3e;
$gray: lighten($black, 35);


$border: 1px solid #dadada;