.hidden {
    display: none;
}

.airplane-list {
    h4 {
        cursor: pointer;
    }
    span {
        display: inline-block;
        padding: 5px;
    }
    .icon-orientation {
    }
    .altitude {
    }
    .code-number {
    }
}
